# Build
/build/

# Composer
/vendor/

# ChromeDriver
/chromedriver_linux64.zip
/chromedriver

# Node.js
/node_modules/

# Screenshots
/screenshots/

# Selenium
/selenium-server-standalone.jar

# Vagrant
.vagrant

# WordPress
/wordpress/

# Logs
/logs/*.log

# PIDs
/pids/*.pid

# Screenshots
/screenshots/*.png

# WP-CLI
/wp-cli.local.yml
